Host *
  AddKeysToAgent yes
  UseKeychain yes
  # IdentityFile ~/.ssh/id_rsa_m
  # IdentityFile ~/.ssh/id_rsa_tw
  IdentityFile ~/.ssh/id_rsa

Host terraform
  HostName 13.54.237.21
  Port 22
  User ec2-user
  IdentityFile ~/.ssh/pems/mstdam-ec2.pem

